[Desktop Entry]
Name=Last used desktop
Comment= KWin script to switch to the last used desktop.
Icon=preferences-system-windows

X-KDE-PluginInfo-Author=Noah H
X-KDE-PluginInfo-Email=null@null.null
X-KDE-PluginInfo-Name=last-Used-Desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL

Type=Service
X-KDE-ServiceTypes=KWin/Script
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
